In [93]:
import pandas as pd

# Lectura de ficheros

In [94]:
# locaciones originales
df_locaciones = pd.read_csv('C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_nodos.csv')
df_locaciones.head()

     Name           Latitude          Longitude
0  NAVE05  -20,9586935449994  -68,7081449538794
1  NAVE06  -20,9586037115414    -68,70808694091
2  NAVE07   -20,958531844775  -68,7080289279406
3  NAVE08  -20,9584509946628   -68,707961246143
4  NAVE09  -20,9583611612048  -68,7078645578607

In [95]:
# obtener lugares descargas
df_descargas = pd.read_csv('C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_descargas.csv')
lugares_descarga = df_descargas.loc[:, 'PositionedAt']
lugares_descarga

0                    CS01
1       RS1_STOCKCR04_SME
2     UB1_TRANQUEESPA_EST
3    RB2_GUANACOCORTO_EST
4           RB1_ZORRO_EST
Name: PositionedAt, dtype: object

In [96]:
# obtener lugares cargas
df_cargas = pd.read_csv('C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_cargas.csv')
lugares_carga = df_cargas.loc[:, 'PositionedAt']
lugares_carga

0          UB1_4390_EST
1     RS1_STOCKCR04_SME
2     RF10A_4390_1032_1
3       RF9B_4135_902_1
4      RF11_4405_1124_1
5     RF10A_4390_1025_1
6     RF10A_4375_1005_1
7     RF10A_4390_1018_1
8       RF9B_4135_905_1
9        RS1_PARINA_SME
10    RF10A_4390_1028_1
Name: PositionedAt, dtype: object

## Armado de estructura final para CSV

In [103]:
se_estaciones = pd.Series.append(lugares_carga, lugares_descarga)
se_estaciones = se_estaciones.reset_index(drop=True)
se_estaciones = se_estaciones.to_frame(name="Name")
df_estaciones = pd.DataFrame.merge(se_estaciones, df_locaciones, on="Name", how="inner")
df_estaciones.columns = ["Nombre","Latitud","Longitud"]
df_estaciones

                  Nombre            Latitud           Longitud
0           UB1_4390_EST  -21,0013285041667  -68,6193270977413
1      RS1_STOCKCR04_SME  -20,9608944647204  -68,7097693170224
2      RS1_STOCKCR04_SME  -20,9608944647204  -68,7097693170224
3      RF10A_4390_1032_1  -20,9808464757424  -68,7005259172327
4        RF9B_4135_902_1  -20,9770285537774  -68,7054376819745
5       RF11_4405_1124_1  -20,9754115515334   -68,713424134094
6      RF10A_4390_1025_1  -20,9815022599858  -68,7017635272464
7      RF10A_4375_1005_1  -20,9813854764904  -68,7101464013234
8      RF10A_4390_1018_1  -20,9778370548994  -68,7130953939342
9        RF9B_4135_905_1  -20,9761841192722  -68,7056310585391
10        RS1_PARINA_SME  -20,9572831597088  -68,7322976868027
11     RF10A_4390_1028_1  -20,9778190882078  -68,6965520288294
12                  CS01  -20,9871168511109  -68,6334339181316
13   UB1_TRANQUEESPA_EST  -20,9499796995733  -68,5812319145077
14  RB2_GUANACOCORTO_EST  -20,9744593168786  -68,7466655655553
15         RB1_ZORRO_EST  -20,9571753595592  -68,7203663527645

In [105]:
#obtener nodos
df_estaciones
df_puntos = df_locaciones[(~df_locaciones.Name.isin(df_estaciones.Nombre))]

# formatear dataframe puntos
df_puntos.columns = ["Nombre","Latitud","Longitud"]

# #exporta estaciones
df_estaciones.to_csv('C:/Users/dazac/Downloads/datos mina/datos produccion/estaciones_mina_simio.csv', 
                sep=',',
                encoding='utf-8',
                mode='w',
                index=False)

#exporta puntos/nodos
df_puntos.to_csv('C:/Users/dazac/Downloads/datos mina/datos produccion/nodos_mina_simio.csv', 
                sep=',',
                encoding='utf-8',
                mode='w',
                index=False)